.GetShlok_Button {
  background-color: #81460c;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgb(255 255 255 / 40%) 0 1px 0 0 inset;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  padding: 8px 0.8em;
  position: relative;
  margin-top: 2rem;
}

.GetShlok_Button:hover,
.GetShlok_Button:focus {
  background-color: #80362e;
}

.GetShlok_Button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.GetShlok_Button:active {
  background-color: #80362e;
  box-shadow: none;
}

.btnAlign {
  display: flex;
  width: 25rem;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .btnAlign {
    width: 90%;
  }
}
