@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

.shlok__no{
    width: 100%;
    margin-top: 1rem;
    font-family: "Yatra One", cursive;
}

.shlok__text{
    margin-top: 1rem;
    font-family: "Yatra One", cursive;
    
}