@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
.wordMeanings {
  width: 22rem;
  font-family: "Yatra One", cursive;
}

.heading,
.headingSD {
  width: 100%;
  align-self: center;
  font-family: "Yatra One", cursive;
  margin-bottom: 0;
}

.shlokMeaning {
  font-family: "Yatra One", cursive;
}

.commentary {
  text-align: center;
  margin-top: 2rem;

  font-family: "Yatra One", cursive;
}
 

@media (max-width: 900px) {
  .headingSD {
    text-align: center;
    background-color: #81460c;
    border-radius: 5px;
    margin-top: -2rem;

    margin-bottom: 2rem;
  }

  .commentary {
    margin-top: 0;
    text-align: justify;
  }
}
