@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");


#root{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    /* display: contents; */
    position: absolute;
    font-family: "Yatra One", cursive;
    top: 0;
    right: 0;
    left: 0;
     background-color: aliceblue;
     background-image: url('./img/background2.jpg');
     background-size: cover;
    
}

@media(max-width:950px){
    html{
        font-size: 55%;
    }

}